<div class="splash">
  <ul class="polaroids">
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
  </ul>
  <div class="copy">
    <h1>
      Can I move to<br />
      <button
        class="choose-city"
        data-behaviour="go-to-choose-city"
        type="button"
      >
        <span data-ui="city">{{city}}</span>
      </button>
      <span class="light">?</span>
    </h1>
    <button
      class="take-action btn"
      data-behaviour="go-to-information"
      type="button"
    >
      Find out >
    </button>
    {{> social}}
  </div>
</div>
