<div class="splash">
  <ul class="polaroids">
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
  </ul>
  <div class="copy">
    <h1>
      Can I move to<br />
      <button
        class="choose-city"
        data-behaviour="go-to-choose-city"
        type="button"
      >
        <span data-ui="city">{{city}}</span>
      </button>
      <span class="light">?</span>
    </h1>
    <button
      class="take-action btn"
      data-behaviour="go-to-information"
      type="button"
    >
      Find out >
    </button>
    <div class="buttons">
      <div class="twitter-btn icon-btn btn">
        <a
          data-dnt="true"
          href="https://twitter.com/intent/tweet?text={{tweet-content}}"
          target="_blank"
        >
          @canimoveto
        </a>
      </div>
      <div class="fb-btn icon-btn btn">
        <a
          data-dnt="true"
          href="https://www.facebook.com/sharer?u=https%3A%2F%2Fcanimovetobarcelona.com"
          target="_blank"
        >
          Share on Facebook
        </a>
      </div>
    </div>
  </div>
</div>
