<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Can I move to Barcelona? What about Athens? Prague? Copenhagen? Vienna? Paris? If Brexit happens, we UK citizens will lose our #freedomofmovement - the right to move anywhere in the EU, no matter our age, income or working status. Find out more on canimovetobarcelona.com #LoveEU." />
  {{!Twitter Card }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@canimoveto">
  <meta name="twitter:title" content="Can I move to&hellip;">
  <meta name="twitter:description" content="Can I move to Barcelona? What about Athens? Prague? Copenhagen? Vienna? Paris? If Brexit happens, we UK citizens will lose our #freedomofmovement - the right to move anywhere in the EU, no matter our age, income or working status. Find out more on canimovetobarcelona.com #LoveEU.">
  {{! Once url routes in place, need to replace the share images with correct cities}}
  <meta name="twitter:image" content="https://canimovetobarcelona.com/img/share/barcelona-twitter.jpg" />
  <meta name="twitter:domain" content="https://canimovetobarcelona.com" />
  <meta name="twitter:creator" content="canimoveto" />
  {{!Facebook / Open Graph Social Share}}
  <meta property="og:site_name" content="Can I move to Barcelona?" />
  <meta property="og:title" content="Can I move to Barcelona?" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Can I move to Barcelona? What about Athens? Prague? Copenhagen? Vienna? Paris? If Brexit happens, we UK citizens will lose our #freedomofmovement - the right to move anywhere in the EU, no matter our age, income or working status. Find out more on canimovetobarcelona.com #LoveEU">
  <meta property="og:url" content="https://canimovetobarcelona.com">
  <meta property="og:image" content="https://canimovetobarcelona.com/img/share/barcelona-facebook.jpg">
  <title>Can I move to&hellip;</title>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
  <link rel='stylesheet' type='text/css' href='/css/styles.css' />
  <link rel="manifest" href="/site.webmanifest">
  <link href="/img/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/img/favicons/favicon-32x32.png" rel="icon" type="image/png">
  <meta name="msapplication-config" content="/browserconfig.xml" />
  <style type="text/css">
    .polaroids .polaroid:nth-child(1) {
      background-image: url("/img/cities/{{lower city}}/1.jpg");
    }
    .polaroids .polaroid:nth-child(2) {
      background-image: url("/img/cities/{{lower city}}/2.jpg");
    }
    .polaroids .polaroid:nth-child(3) {
      background-image: url("/img/cities/{{lower city}}/3.jpg");
    }
    .polaroids .polaroid:nth-child(4) {
      background-image: url("/img/cities/{{lower city}}/4.jpg");
    }
    .polaroids .polaroid:nth-child(5) {
      background-image: url("/img/cities/{{lower city}}/5.jpg");
    }
    .polaroids .polaroid:nth-child(6) {
      background-image: url("/img/cities/{{lower city}}/6.jpg");
    }
    .polaroids .polaroid:nth-child(7) {
      background-image: url("/img/cities/{{lower city}}/7.jpg");
    }
    .polaroids .polaroid:nth-child(8) {
      background-image: url("/img/cities/{{lower city}}/8.jpg");
    }
    .polaroids .polaroid:nth-child(9) {
      background-image: url("/img/cities/{{lower city}}/9.jpg");
    }
    .polaroids .polaroid:nth-child(10) {
      background-image: url("/img/cities/{{lower city}}/10.jpg");
    }
  </style>
  <script type="application/javascript">
    (function () {
      const selected = '{{city}}';
      history.replaceState({selected}, selected);
    })();
  </script>
  <script type="application/javascript">
    var dnt=(navigator.doNotTrack||window.doNotTrack||navigator.msDoNotTrack);
    var doNotTrack=(dnt=="1"||dnt=="yes");
    if(!doNotTrack){
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};
      ga.l=+new Date;
      if(window.sessionStorage){
        var GA_SESSION_STORAGE_KEY='ga:clientId';
        ga('create','UA-131452165-2',{'storage':'none','clientId':sessionStorage.getItem(GA_SESSION_STORAGE_KEY)});
        ga(function(tracker){sessionStorage.setItem(GA_SESSION_STORAGE_KEY,tracker.get('clientId'));});
      }
      ga('set','anonymizeIp',true);
      ga('send','pageview');
    }
  </script>
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
</head>
<body>
  {{{body}}}
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>
<script src="/js/script.js"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</html>
